.header {
  display: block;
  align-items: center;
  justify-content: space-between;

  width: 100vw;

  background-color: var(--color-blue-300);
}

/*              HEADER TOP              */
.header__top {
  height: 4.8rem;
  display: flex;
  padding: 0 1.6rem;
  align-items: center;
  justify-content: space-between;
}

/* logo */
.header__logo {
  gap: 0.8rem;
  display: flex;
  align-items: center;
}

.logo__label {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--color-blue-500);
}

.logo__label span {
  font-weight: 900;
  color: var(--color-blue-500);
}

.logo__icon {
  height: 32px;
}

/* Search bar */
.searchbar {
  display: flex;
}

.searchbar__search {
  position: relative;
}

.search__input {
  width: 25.6rem;
  height: 3.2rem;

  padding: 0.8rem 1.6rem;

  border-radius: 0.8rem 0 0 0.8rem;
  border: 1px solid transparent;

  color: var(--color-white);
  background-color: var(--color-blue-400);
}

.search__input::placeholder {
  font-weight: bold;
  color: var(--color-blue-300);
}

.search__input::-webkit-search-cancel-button {
  display: none;
}

.search__input:focus {
  outline: 0;
  border: 1px solid var(--color-white);
}

.searchbar__clear {
  top: 0.4rem;
  right: 0.4rem;

  width: 2.4rem;
  height: 2.4rem;

  position: absolute;
  display: none;

  cursor: pointer;

  border: none;
  border-radius: 1.6rem;
  background-color: var(--color-blue-400);
}

.searchbar__clear:hover {
  background-color: var(--color-blue-500);
  opacity: var(--hover-opacity);
}

.searchbar__clear i {
  color: var(--color-blue-300);
}

.searchbar__submit {
  border: none;
  cursor: pointer;
  padding: 0 1.6rem;
  border-radius: 0 0.8rem 0.8rem 0;
  background-color: var(--color-blue-400);
}

.searchbar__submit:hover {
  opacity: var(--hover-opacity);
  background-color: var(--color-black);
}

.searchbar__submit i {
  font-size: 1.6rem;
  color: var(--color-blue-300);
}

/* Header right */
.header__right {
  display: flex;
  gap: 16px;
}

.nav__item {
  list-style: none;
}

.gem {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.gem__simbol {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 1.6rem;
  height: 1.6rem;

  border-radius: 5rem;

  background-color: var(--color-blue-500);
}

.gem__simbol i {
  font-size: 0.8rem;
  color: var(--color-white);
}

.gem__value {
  color: var(--color-white);
  font-size: 1.2rem;
  font-weight: bold;
}

.user__icon {
  background-color: var(--color-blue-200);
  width: 3.2rem;
  height: 3.2rem;

  border-radius: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.user__icon:hover {
  opacity: var(--hover-opacity);
}

.user__icon i {
  color: var(--color-blue-300);
}

/*            HEADER BOTTOM            */
.header__bottom {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  padding: 0 18px;
  height: 4rem;

  background-color: var(--color-blue-400);
}

.nav__ul {
  gap: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__link {
  font-weight: 600;
  padding: 0.8rem 0;

  text-decoration: none;
  color: var(--color-white);

  transition: var(--transition);
  border-bottom: 3px solid transparent;
}

.nav__link:hover {
  color: var(--color-blue-300);
  border-bottom: 3px solid var(--color-blue-300);
}

.nav__link.activate,
.nav__link.activate:hover {
  color: var(--color-white);
  border-bottom: 3px solid var(--color-white);
}
